body{
    font-family: 'Roboto','sans-serif';
}



img.industry{
    border-radius: 40px;
    height: 70vh;
    width: 100%;
}



#C1{
    
    height: 20%;
    width: 24%;
    border: 2px solid #000000;
    border-radius: 40px;
    position: relative;
    
}

#R1{
    width: 20vw;
    height: 4vh;
    border-radius: 40px;
    left: 1.5vw;
    position: absolute;
    top: 10%;
}

div.card a{
    left: 9vw;
    top: 6vh;
    position: absolute;
    color: #FFFF;
    text-decoration: none;
    background-color: #7D9BC3;;
}